{% extends 'master.twig' %}
{% block content %}
    <h1>About</h1>
    Compassion, Dedication, Reliability. These are inspirational words that guide our practice at Full Care Medical Center.

    <ul>
        <li>
            <h2>Dedication:</h2>
            Dedicated to the promotion of the health and well-being of our patients.
        </li>
        <li>
            <h2>Reliability:</h2>
            We work truthfully and honestly to make sure our patients gain the correct treatment
            they need.
        </li>
        <li>
            <h2>Compassion:</h2>
            Our staff respect our patients dignity, we seek to preserve that dignity in all we do.
        </li>
    </ul>

    At Full Care Medical Center we provide a number of services. These services range from management of acute and chronic diseases to flu shots. Appointments can be made online or over the phone.


{% endblock %}