{% extends 'master.twig' %}
{% block content %}
    <h1>FAQ</h1>
    <p><strong>What kind of practice is Full Care Medical Center?</strong></p>

    <p>We are a family practice located in Clinchco, Virginia.</p>

    <p><strong>What is your contact information?</strong></p>

    <p>Address:163 Number Ten Street, Clinchco, Virginia 24226</p>

    <p>Telephone: 276-835-1122</p>

    <p>Fax: 276-835-8577</p>

    <p>Email: fcmc@fullcaremedctr.com</p>

    <p><strong>What is the cancellation Policy?</strong></p>

    <p>If you do not show up for your scheduled appointment and you have not notified us at least 24 hours in advance, may be subject to cancellation fees.</p>

    <p><strong>Does Full Care Medical Center have a smoking policy?</strong></p>

    <p>We have a strict no smoking policy. Patients are not to smoke in or near the the main Full Care Medical Center
        building. A safer and healthier environment is made by a no smoking policy. Smoking is a leading cause of cancer.</p>

    <p><strong>What types of forms do I need to bring to my first appointment?</strong></p>

    <p>Patients should bring these three things</p>
    <p>
    Insurance information
    Current medication list from pharmacy
    Past medical records
    Last but not least, please come to your appointment 15 mins early</p>
{% endblock %}