{% extends 'master.twig' %}
{% block content %}
    <h1>Home</h1>
    <p>Full Care Medical Center is dedicated to providing health in Virginia. We provide quality and affordable medical treatments.
        Our aim is to promote good health and wellness as well as professional care to all of our patients.</p>

    <p>At Full Care Medical Center our staff believe in providing optimal service and medical attention to the whole family</p>
{% endblock %}