{% extends 'master.twig' %}
{% block content %}
    <h1>Services</h1>
    <h2>Management of acute and chronic diseases</h2>
    Migraines, headaches, seizures, strokes and parkinsonism<br/>
    Ischemic heart disease, arrhythmias and hypertension<br/>
    COPD and asthma<br/>
    Bowel diseases<br/>
    Diabetes and thyroid diseases<br/>


    <h2>Minor Surgical Procedures</h2>

    Suturing of cuts and lacerations<br/>
    Removal of cyst, mole, wart and ingrown toenail.<br/>

    <h2>Pain Management</h2>
    Joint injections<br/>
    Trigger point injections<br/>

    <h2>Women's Health</h2>
    Pelvic and breast examinations<br/>
    PAP smears<br/>
    Birth control<br/>

    <h2>Men's Health</h2>
    Prostate examinations<br/>
    Male erectile dysfunction<br/>

    <h2>Psychiatric Illness</h2>
    Depression and anxiety<br/>

    <h2>Interventional Procedures</h2>
    Allergy injections<br/>
    Immunizations<br/>
    Flu shots<br/>

    <h2>Diagnostic Services</h2>
    Venipuncture<br/>
    EKG<br/>
    Pulmonary function test<br/>
    Spirometry<br/>
    Urinalysis<br/>
    Blood counts and blood sugars<br/>
    Vision and audiometry screenings<br/>
    Strep tests<br/>
    Hemoccult<br/>

    <h2>Comprehensive Physical Examination</h2>
    School, Camp and Sports physicals<br/>
    DOT/CDL medical exams<br/>

{% endblock %}